body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.finish-container {
    width: 100vw; /* Set width to 100% of the viewport width */
    height: 100vh; /* Set height to 100% of the viewport height */
    background-color: #fffaf0; /* Slight ivory color */
    background-size: cover; /* Cover the entire area of the element */
    background-position: center center; /* Center the background image */
    background-repeat: no-repeat;
    position: relative;
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

/* Adjust other elements as needed */
.finish-header {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.finish-message {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 40px;
    line-height: 1.6;
}

.finish-header, .finish-message {
    background-color: rgba(255, 255, 255, 0.7); /* White background with some transparency */
    display: inline-block; /* Make the background only as wide as the text */
    margin: 10px; /* Add some margin around the text */
    padding: 5px 10px; /* Add some padding for better visibility */
}

.finish-button {
    padding: 12px 30px;
    font-size: 1em;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 3px 6px #888888;
    transition: 0.3s;
}

.finish-button:hover {
    background-color: #218838;
    transform: translateY(-3px);
}

#finishButton {
    position: relative;
    transition: transform 0.3s;
}
