.story-section {
    /*background: #eaecef; !* Slight contrast to draw attention *!*/
    background: rgba(234, 236, 239, 0.8); /* Ivory color with opacity */
    padding: 20px;
    margin-bottom: 1em; /* Spacing between story section and path options */
    border-radius: 4px; /* Consistent rounding with other elements */
}

.story-section h2 {
    color: #2a9d8f;
    margin-bottom: 1px;
}
.story-section h4 {
    margin-top: 10px;
    margin-bottom: 1px;
}

.story-section p {
    color: #333; /* Readable text color for the story */

    margin-top: 1px;
    margin-bottom: 1px;
}



.quest-container {
    max-width: 800px;
    margin: 0 auto; /* Centers the container */
    border-radius: 8px; /* Rounded corners for the container */
    box-shadow: 5px 5px 10px rgba(140, 140, 140, 0.1); /* Soft shadow for depth */
    padding: 10px;
    background-color: #fffaf0; /* Slight ivory color */
    background-image: url('../images/mainBack.jpg');
    background-size: cover; /* Cover the entire area of the element */
    background-position: center center; /* Center the background image */
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
}

.quest-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 250, 240, 0.1); /* Ivory color with opacity */
    border-radius: 8px; /* Rounded corners for the overlay */
    z-index: 1; /* Make sure it's above the background image */
}

/* Ensure all child elements are above the pseudo-element */
.quest-container > * {
    position: relative;
    z-index: 2;
}

.player-name {
    color: #2a9d8f; /* Give the player's name a unique color */
}

/* Style the options for the paths */
.path-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Creates space between the path options */
}

.path {
    background: rgba(255, 250, 240, 0.8); /* Ivory color with opacity */
    border: 1px solid #ddd; /* Subtle border for each path */
    border-radius: 4px;
    padding: 20px;
    width: 30%; /* Each path takes up roughly a third of the container */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.path h2 {
    color: #333;
    margin-top: 0;
    margin-bottom: 5px;
}

.path p {
    color: #666;
    margin-bottom: 10px;
}

.path button {
    background-color: #2a9d8f; /* Example button color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.path button:hover {
    background-color: #228f7b; /* Darken button color on hover */
}

/* Return button at the bottom */
.return-button {
    background-color: #f4a261; /* A contrasting color for the return button */
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 30px; /* Separates the return button from path options */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.return-button:hover {
    background-color: #e89a53; /* Darken button color on hover */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .path-options {
        flex-direction: column;
    }

    .path {
        width: auto; /* Path containers take full width on smaller screens */
        margin-bottom: 20px; /* Add space between vertically stacked paths */
    }
}

